<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Book List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>LastName</th>
    </tr>
    <tr th:each="author : ${allAuthors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}">Spring in action</td>
        <td th:text="${author.lastName}"> wrox</td>

    </tr>
</table>

</body>
</html>